<footer class="o-footer u-xs" role="contentinfo">
  <ul class="c-footer-list c-footer-info">
    <li>Tamir Spiegel <abbr title="Bachelor of Veterinary Medicine Science">BVMS</abbr> <abbr title="Member of the Royal College of Veterinary Surgeons">MRCVS</abbr> D.E.Ophthalmologie <abbr title="École nationale vétérinaire d'Alfort">ENVA</abbr></li>
    <li>Email: <a href="mailto:info@vision-vet.co.uk">info@vision-vet.co.uk</a></li>
    <li><a href="https://www.facebook.com/VisionVet.Referral/"><img src="/img/f_logo_RGB-Blue_58.png" height="24" width="24" alt="Find us on Facebook" /></a></li>
  </ul>
  <ul class="c-footer-list c-footer-nav">
    <li><a href="/privacy-gdpr/">Privacy and GDPR</a></li>
    <li><a href="/cookie-policy/">Cookie policy</a></li>
    <li class="small">Logo made by E.L.</li>
  </ul>
</footer>
