<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Vision Vet Veterinary Ophthalmology referral Scotland, Tamir Spiegel, Veterinary ophthalmologist{% if page.title %} - {{ page.title | escape }}{% endif %}</title>
  <meta name="description" content="{{ page.excerpt }}">
  <meta property="og:title" content="Vision Vet" />
  <meta property="og:description" content="Vision vet provides veterinary ophthalmology referral service and EMERGENCY service in Edinburgh, Livingston, Glasgow and across Scotland. It is run by Dr Tamir Spiegel, a veterinary ophthalmology consultant." />
  <meta property="og:image" content="https://www.vision-vet.co.uk/img/logo-vision-vet.png" />
  <meta property="og:url" content="https://www.vision-vet.co.uk/" />
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="http://www.vision-vet.co.uk{{ page.url | replace:'index.html','' }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro">
  <script src="{{ "/js/jquery-3.1.0.slim.min.js" | prepend: site.baseurl }}" defer></script>
  <script src="{{ "/js/bootstrap.min.js" | prepend: site.baseurl }}" defer></script>
  <script id="Cookiebot" src="https://consent.cookiebot.com/uc.js" data-cbid="57d4aaa7-d78a-4e40-8fd0-f8f46a5ae1a3" type="text/javascript" async></script>
</head>
