<header class="o-header u-xs">
  <div class="row">
    <div class="col-sm-7">
      <div class="c-logo"><a href="/" title="Link to index page"><img src="{{ site.baseurl }}/img/logo-vision-vet.png" class="img-responsive" alt="Vision Vet logo"><span class="u-textindent">Vision Vet</span></a></div>
    </div>
    <div class="col-sm-5">
      <ul class="c-list c-list--phone-nos c-list--nobullet">
        <li class="c-phone-item">ICR Vets <a href="tel:01314404229" class="c-phone-no" rel="nofollow">0131 440 4229</a></li>
        <li class="c-phone-item">Out of Hours Emergency <a href="tel:07523670795" class="c-phone-no" rel="nofollow">07523 670795&nbsp;</a></li>
      </ul>
    </div>
  </div>
</header>
